
#linkedincontainer {
	background: none ;
	border-radius: 5px 5px 5px 5px;
	display: block;
	font-size: 13px;
	width: 100%;
}

#linkedinpic {
	float: right;
	padding: 0;
	position: relative;
	width: 40px;
	height: 40px;
}

#linkedinpic img {
	border: 0 none;
	padding: 0;
	height: 100%;
	max-width: 100%;
}

#linkedininfo {
	float: left;
	margin: 4px 0 0;
	width: 70%;
}

#linkedinname {
	font-size: 1em;
	font-weight: bold;
	margin: 2px 0;
}

.linkedintitle,.linkedinlocation,.linkedinlogout {
	display: block;
	margin-top: 2px;
}


img.linkedinlogin {
	width: 80px;
	height: 80px;
}
.locallogin {
	font-size: 0.8em;
}
#linkedinwrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	font-style: normal;
	padding: 10px;
}

.block_linkedin {
	margin-bottom: 0px;
}

.block_linkedin div.content {
	padding: 0px;
}